body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 0, 146);
}

.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.botoes button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.rosa{
    background-color: deeppink;
}